---
title: CIBA PAR Age Verification
layout: home
parent: Age Verification
nav_order: 5
---

# CIBA PAR Age Verification
Signaturgruppen Broker has a generalized [CIBA PAR OIDC](https://signaturgruppen-a-s.github.io/signaturgruppen-broker-documentation/ciba-par-oidc-integration.html) mechanism that is relevant for age verification flows. 
Here an example of a standard "minimal age verification flow" is shown

## Age verification with minimal scope

